/* Styling */

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

h2{
    text-align: center;
    font-weight: 700;
}

.container{
    margin-bottom: 100px;
}

html{
    scroll-behavior: smooth;
}

.underline{
    height: 8px;
    width: 100%;
    border-radius: 10px;
    background-image: linear-gradient(90deg, #34b47b, #75dfa6);
    background-size: 400%;
    margin: auto;
    margin-bottom: 50px;
    animation: gradient 1s ease-in-out 0s infinite alternate;
    opacity: 0.8;
}

.logo {
    width: 200px;
}

header{
    background-color: #F0FFF0;
}

.navbar li{
    margin: auto 20px;
}

.navbar li a{
    font-weight: 600;
}

.green-btn{
    background-color: #21B573;
    color: white;
    border-radius: 30px;
    padding: 0 25px;
    border: none;
    animation: glow 1s infinite alternate ease-in-out;
}

#get-started-btn{
    padding: 8px 30px;
}

.top-banner img{
    width: 100%;
}

.top-banner .text h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px;
}

.top-banner .text p{
    max-width: 500px;
}

.text-red{
    color: #FD511A;
}

.text-green{
    color: #21B573;
}

.top-banner{
    padding-bottom: 50px;
}

summary .card-deck{
    text-align: center;
}

summary h5{
    font-weight: 500;
}

.card-deck img{
    height: 85px;
    width: 66px;
    margin: 20px auto;
}

.card{
    border: none;
    background-color: #F8FFFB;
    border-radius: 10px;
}

.card-shadow{
    animation: shadow 1s 0s infinite alternate ease-in-out;
}

.courses img{
    height: auto;
    width: 90%;
}

.courses .card{
    animation: shadow 1s 0s infinite alternate ease-in-out;
}

.courses .card-body{
    padding-top: 0px;
    height: 130px;
}

.courses .card-footer{
    border-top: none;
    background-color: white;
}

.courses .card-footer img{
    width: 20px;
    height: 20px;
    margin: 1px;
}

.courses .card-footer p{
    margin: 1px 5px;
    font-weight: 600;
    color: gray;
}

.courses .green-btn{
    height: 30px;
}

.testimonial img{
    height: 120px;
    width: 120px;
}

.testimonial .review{
    margin: auto;
    width: 90%;
}

.testimonial .profile-pic{
    max-width: 40%;
}

.gallery{
    width: 80%;
}

footer{
    background-color: #282531;
    width: auto;
}

.footer-body{
    padding: 50px 0px;
}

h6{
    font-weight: 700;
    font-size: 18px;
}

footer .copyright-info{
    text-align: center;
    margin-bottom: 0px;
}

.copyright-info p{
    margin-bottom: 0px;
    padding-bottom: 10px;
}

footer #long-sentence{
    margin-bottom: 30px;
}

.footer-body{
    margin-bottom: 10px;
}

/* Animations */

@keyframes gradient{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 100%;
    }
}

@keyframes shadow{
    0%{
        box-shadow: 0px 20px 0px lightgray;
    }
    100%{
        box-shadow: 0px 30px 40px lightgray;
    }
}

@keyframes glow{
    0%{
        box-shadow: 0px 0px 3px rgb(105, 235, 159);
    }
    100%{
        box-shadow: 0px 0px 30px rgb(105, 235, 159);
    }
}
